<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>LTE</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      AdminLTE Design Team
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Developers
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Sales Department
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                    page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user text-red"></i> You changed your username
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Design some buttons
                      <small class="pull-right">20%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Create a nice theme
                      <small class="pull-right">40%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Some task I need to do
                      <small class="pull-right">60%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Make beautiful transitions
                      <small class="pull-right">80%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Colin.Liu</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <!--<li class="user-header">
              <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            &lt;!&ndash; Menu Body &ndash;&gt;
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              &lt;!&ndash; /.row &ndash;&gt;
            </li>
            &lt;!&ndash; Menu Footer&ndash;&gt;
            <li class="user-footer">
              <div class="pull-left">
                <button class="btn btn-default btn-flat" (click)="showChPwdModal()">修改密码</button>
              </div>
              <div class="pull-right">
                <button class="btn btn-default btn-flat" [swal]="{title:'确认离开?', text: '您是否确定要退出系统?', type: 'warning', confirmButtonText: '退出'}"
                        (confirm)="doLogout()">注销</button>
              </div>
            </li>-->
            <li>
              <a (click)="showChPwdModal()">
                <i class="fa fa-key"></i>修改密码</a>
            </li>

            <li class="divider"> </li>
            <li>
              <a [swal]="{title:'确认锁定', text: '锁定后需要密码才能解锁，确定要锁定?', type: 'warning', confirmButtonText: '锁定'}"
                (confirm)="doLock()">
                <i class="fa fa-lock lockIcon"></i>锁定会话</a>
            </li>
            <li>
              <a [swal]="{title:'确认离开', text: '您是否确定要退出系统?', type: 'warning', confirmButtonText: '退出'}"
                 (confirm)="doLogout()">
                <i class="fa fa-sign-out"></i>退出系统</a>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="modal fade" bsModal #chPwdModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="chPwdModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">修改密码</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="chPwdModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="pwdForm" #chPwdForm="ngForm" (ngSubmit)="doChangePwd()" class="form-horizontal form-row-sepe" novalidate>

          <div class="form-group" required
               [ngClass]="{ 'has-error': oldPwd.dirty && oldPwd.invalid,
                            'has-success': oldPwd.dirty && oldPwd.valid}">
            <label class="control-label col-md-3">原密码</label>
            <div class="col-md-8">
              <input type="password" class="form-control" placeholder="原密码"
                     name="oldPwd" required [(ngModel)]="pwd.oldPwd" #oldPwd="ngModel">
              <span *ngIf="oldPwd.dirty && oldPwd.invalid" class="help-block">原密码不能为空</span>
            </div>
          </div>
          <div class="form-group password-strength" required
               [ngClass]="{ 'has-error': newPwd.dirty && newPwd.invalid,
                            'has-success':  newPwd.dirty && newPwd.valid}">
            <label class="control-label col-md-3">新密码</label>
            <div class="col-md-8">
              <input type="password" class="form-control" placeholder="新密码" name="newPwd" required
                     [(ngModel)]="pwd.newPwd" #newPwd="ngModel" minlength="5" maxlength="16"
                     validateEqual="confirmPwd" reverse=true>
              <span *ngIf="newPwd.dirty && newPwd.invalid" class="help-block">
                不能为空，且密码长度必须在6到16位之间
              </span>
            </div>

          </div>
          <div class="form-group password-strength" required
               [ngClass]="{ 'has-error': confirmPwd.dirty && confirmPwd.invalid,
                            'has-success':  confirmPwd.dirty && confirmPwd.valid}">
            <label class="control-label col-md-3">确认密码</label>
            <div class="col-md-8">
              <input type="password" class="form-control" placeholder="再次输入新密码" name="confirmPwd" required
                     [(ngModel)]="pwd.confirmPwd" #confirmPwd="ngModel" minlength="5" maxlength="16"
                     validateEqual="newPwd">
              <span *ngIf="confirmPwd.dirty && confirmPwd.invalid" class="help-block">两次输入的密码必须一致</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="doChangePwd()"
                [disabled]="!chPwdForm.touched || chPwdForm.invalid"><i class="fa fa-check"></i>更改</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="chPwdModal.hide()"><i class="fa fa-times"></i>取消</button>
      </div>
    </div>
  </div>
</div>
